<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{comExtOps.comQaOpsInfoVO.title}+' '+#{title.list}"></title>
    <link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}"/>
    <div th:replace="fragment/linkFragment"></div>
    
    <style>
        .autocomplete-items {
            position: absolute;
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;
            z-index: 99;
            top: 100%;
            left: 0;
            right: 0;
            max-height: 200px;
            overflow-y: auto;
            background-color: white;
        }

        .autocomplete-items li {
            padding: 10px;
            cursor: pointer;
            list-style-type: none;
            border-bottom: 1px solid #d4d4d4;
        }

        .autocomplete-items li:hover {
            background-color: #e9e9e9;
        }
    </style>
</head>

<body>
<nav class="breadcrumb-wrap" aria-label="브레드크럼" style="padding-top: 0; padding-bottom: var(--krds-spacer-5)">
    <ol class="breadcrumb">
        <li class="home"><a href="#" class="txt">홈</a></li>
        <li><a href="#" class="txt">시스템/서비스연계</a></li>
        <li><a href="#" class="txt">검색엔진</a></li>
    </ol>
</nav>

<h2 class="heading-l" style="margin-bottom: 2rem;"><span th:text="#{comExtOps.comQaOpsInfoVO.title}+' '+#{title.list}"></span></h2>

<form id="listForm" name="listForm">
<input type="hidden" th:id="qaId" th:name="qaId"/>
<input type="hidden" th:id="pageIndex" th:name="pageIndex" th:value="1"/>

<div class="search-top-box">
	<div class="sch-form-wrap">
		<div class="input-group">
			<select class="form-select md" id="searchCondition" name="searchCondition" th:title="#{title.searchCondition}">
                <option th:text="#{comExtOps.comQaOpsInfoVO.qestnSj}" value="1" ></option>
                <option th:text="#{comExtOps.comQaOpsInfoVO.qestnCn}" value="2" ></option>
                <option th:text="#{comExtOps.comQaOpsInfoVO.wrterNm}" value="3" ></option>
            </select>
					<div class="sch-input">
						<input class="form-control md" id="searchKeyword"
							name="searchKeyword" placeholder="검색어를 입력하세요." autocomplete="off">
						<ul id="autocomplete-list" class="autocomplete-items"></ul>
					</div>
			<button type="button" class="btn btn-ico ico-sch" th:onclick="comQaOpsInfoSearch()"><span class="sr-only" th:text="#{button.search}"></span></button>
            <button type="button" class="btn md" th:onclick="comQaOpsInfoTextSearch()"><span th:text="#{button.openSearch}"></span></button>
            <button type="button" class="btn md" th:onclick="comQaOpsInfoEmbeddingSearch()"><span th:text="#{button.vectorSearch}"></span></button>
            <button type="button" class="btn md" th:onclick="comQaOpsInfoCreate()"><span th:text="#{button.create}"></span></button>
		</div>
	</div>
</div>

</form>

<div class="tbl-wrap">
	<table class="tbl col data">
		<caption>묻고답하기 목록을 등록, 수정, 목록조회, 상세조회를 제공하는 컴포넌트</caption>
		<colgroup>
            <col style="width: 10%;">
            <col style="width: 30%;">
            <col>
            <col style="width: 10%;">
        </colgroup>
        <thead>
        <tr>
            <th scope="col" class="text-center"><span th:text="#{table.num}"></span></th>
            <th scope="col" class="text-center"><span th:text="#{comExtOps.comQaOpsInfoVO.wrterNm}"></span></th>
            <th scope="col" class="text-center"><span th:text="#{comExtOps.comQaOpsInfoVO.qestnSj}"></span></th>
            <th scope="col" class="text-center"><span th:text="#{comExtOps.comQaOpsInfoVO.qnaProcessSttusCode}"></span></th>
        </tr>
        </thead>
        <tbody id="comQaOpsInfo-list-container"></tbody>
	</table>
</div>

<div id="pagination-container" class="pagination w-page"></div>

<script th:inline="javascript" defer>

	comQaOpsInfoList();

	function comQaOpsInfoSearch() {
		if (notNullCheck($('#searchKeyword').val())) {
			comQaOpsInfoList();
		} else {
			alert('검색어를 입력하세요.');
		}
	}

	function comQaOpsInfoList() {
		$.ajax({
					url : contextPath + '/ext/ops/comQaOpsInfoList',
					method : 'post',
					data : $('#listForm').serialize()
				})
				.done(
						function(response) {
							let comQaOpsInfoList = response.comQaOpsInfoList;
							let pagination = response.pagination;
							let lineNumber = response.lineNumber;

							let html = '';
							comQaOpsInfoList
									.forEach(function(comQaOpsInfo, index) {
										let number = lineNumber + (index + 1);

										let statusText = '';
										switch (comQaOpsInfo.qnaProcessSttusCode) {
										case '1':
											statusText = '접수 중';
											break;
										case '2':
											statusText = '답변 중';
											break;
										case '3':
											statusText = '완료';
											break;
										default:
											statusText = '기타';
											break;
										}

										html += '<tr>';
										html += '<td class="text-center">'
												+ number + '</td>';
										html += '<td class="text-center">'
												+ comQaOpsInfo.wrterNm
												+ '</td>';
										html += '<td><a class="btn btn-txt sm" onclick="comQaOpsInfoDetail(\''
												+ comQaOpsInfo.qaId
												+ '\')">'
												+ comQaOpsInfo.qestnSj
												+ '</a></td>';
										html += '<td class="text-center">'
												+ statusText + '</td>';
										html += '</tr>';
									});

							$('#comQaOpsInfo-list-container').html(html);
							$('#pagination-container').html(pagination);
						});
	}

	function linkPage(pageIndex) {
		$('#pageIndex').val(pageIndex);
		comQaOpsInfoList();
	}

	function comQaOpsInfoDetail(qaId) {
		$('#qaId').val(qaId);
		$('#listForm').attr('method', 'post').attr('action',
				contextPath + '/ext/ops/comQaOpsInfoDetailView').submit();
	}

	function comQaOpsInfoCreate() {
		$('#listForm').attr('method', 'post').attr('action',
				contextPath + '/ext/ops/comQaOpsInfoInsertView').submit();
	}
	
	function comQaOpsInfoTextSearch() {
		if (notNullCheck($('#searchKeyword').val())) {
			comQaOpsInfoTextList();
		} else {
			alert('검색어를 입력하세요.');
		}
	}
	
	function comQaOpsInfoTextList() {
		$('#listForm').attr('method', 'post').attr('action', 
				contextPath + '/ext/ops/comQaOpsInfoTextView').submit();
	}
	
	function comQaOpsInfoEmbeddingSearch() {
		if (notNullCheck($('#searchKeyword').val())) {
			comQaOpsInfoEmbeddingList();
		} else {
			alert('검색어를 입력하세요.');
		}
	}
	
	function comQaOpsInfoEmbeddingList() {
		$('#listForm').attr('method', 'post').attr('action', 
				contextPath + '/ext/ops/comQaOpsInfoEmbeddingView').submit();
	}
	
	/*
	// 페이지 로드 시 이벤트 바인딩
	 $(document).ready(function() {
	        $("#searchKeyword").on("input", function() {
	            fetchAutocompleteSuggestions();  // 검색어 입력 시 자동완성 요청
	        });
	        
	        // 검색창에 포커스가 벗어나면 자동완성 목록 숨김    
	        $(document).on("click", function(event) {
	            if (!$(event.target).closest("#searchKeyword, #autocomplete-list").length) {
	                $("#autocomplete-list").empty();
	            }
	        });
	        
	     // 검색창 클릭 시 다시 자동완성 목록 표시
	        $("#searchKeyword").on("focus", function() {
	            if ($(this).val().length > 1) {
	                fetchAutocompleteSuggestions();
	            }
	        });
	    });
	 
	 function fetchAutocompleteSuggestions() {
			const searchCondition = $("#searchCondition").val();
			const searchKeyword = $("#searchKeyword").val();

			// 검색 조건이 '제목'일 때만 자동완성 작동 (value = 1)
			if (searchCondition !== '1' || searchKeyword.length < 2) {
				$("#autocomplete-list").empty();
				return;
			}

			// 서버로 자동완성 요청 전송
			$.ajax({
				url : contextPath + '/ext/ops/autoComplete',
				method : 'POST',
				data : {
					keyword : searchKeyword
				},
				success : function(suggestions) {
					showAutocompleteSuggestions(suggestions);
				},
				error : function(error) {
					console
							.error('Error fetching autocomplete suggestions:',
									error);
				}
			});
		}

		//자동완성 목록 표시 함수
		function showAutocompleteSuggestions(suggestions) {
			const $autocompleteList = $("#autocomplete-list");
			$autocompleteList.empty(); // 기존 목록 제거

			if (!suggestions.length) {
				return;
			}

			// 새로운 자동완성 제안 목록 추가
			$.each(suggestions, function(index, suggestion) {
				const $listItem = $("<li></li>").text(suggestion);

				// 항목 클릭 시 검색창에 입력
				$listItem.on("click", function() {
					$("#searchKeyword").val(suggestion);
					$autocompleteList.empty(); // 선택 후 목록 비움
				});

				$autocompleteList.append($listItem);
			});
		}
		*/
</script>
</body>
</html>