<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{comExtOps.comQaOpsInfoVO.title}+' '+#{title.update}"></title>
    <link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}"/>
    <div th:replace="fragment/linkFragment"></div>
</head>

<body>

<h2 class="heading-l" style="margin-bottom: 2rem;"><span th:text="#{comExtOps.comQaOpsInfoVO.title}+' '+#{title.update}"></span></h2>
<form id="updateForm" name="updateForm" th:object="${comQaOpsInfoVO}">
<input type="hidden" th:id="qaId" th:name="qaId" th:value="${comQaOpsInfoVO.qaId}"/>
<input type="hidden" th:id="searchCondition" th:name="searchCondition" th:value="${comQaOpsInfoVO.searchCondition}"/>
<input type="hidden" th:id="searchKeyword" th:name="searchKeyword" th:value="${comQaOpsInfoVO.searchKeyword}"/>

<div class="txt-box bg-white">
	<div class="box-cnt">
		<div class="box-sec">
            <h5 class="box-tit2"><span th:text="#{comExtOps.comQaOpsInfoVO.wrterNm}"></span></h5>
            <div class="form-group full">
                <div class="form-conts">
                    <input type="text" id="wrterNm" name="wrterNm" class="form-control"
                           th:field="*{wrterNm}"
                               th:placeholder="#{comExtOps.comQaOpsInfoVO.wrterNm}+' '+#{input.input}" readonly="readonly">
                    <span id="wrterNmError" style="color:red"></span>
                </div>
            </div>
        </div>
	</div>
	<div class="box-sec">
		<h5 class="box-tit2"><span th:text="#{comExtOps.comQaOpsInfoVO.qestnSj}"></span></h5>
		<div class="form-group full">
			<div class="form-conts">
				<input type="text" id="qestnSj" name="qestnSj" class="form-control"
                           th:field="*{qestnSj}"
                           th:placeholder="#{comExtOps.comQaOpsInfoVO.qestnSj}+' '+#{input.input}">
                <span id="qestnSjError" style="color:red"></span>
			</div>
		</div>
	</div>
	
	<div class="box-sec">
		<h5 class="box-tit2"><span th:text="#{comExtOps.comQaOpsInfoVO.qestnCn}"></span></h5>
		<div class="form-group full">
			<div class="form-conts">
				<div class="textarea-wrap">
					<textarea id="qestnCn" name="qestnCn" class="form-control"
                                  th:field="*{qestnCn}"
                                  th:placeholder="#{comExtOps.comQaOpsInfoVO.qestnCn}+' '+#{input.input}"></textarea>
                    <p class="textarea-count"><span class="text-primary">0</span><span class="text-num">/100</span></p>
                    <span id="qestnCnError" style="color:red"></span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="box-sec">
    	<h5 class="box-tit2"><span th:text="#{comExtOps.comQaOpsInfoVO.qnaProcessSttusCode}"></span></h5>
        <div class="form-group full">
            <div class="form-conts">
                <select class="form-select md" name="qnaProcessSttusCode" th:title="#{comExtOps.comQaOpsInfoVO.qnaProcessSttusCode}">
                        <option th:text="#{input.receipt}" value="1"></option>
                </select>
            </div>
        </div>
    </div>
    
    <div class="page-btn-wrap both">
        <button type="button" class="btn md tertiary" th:text="#{button.list}" th:onclick="comQaOpsInfoList()"></button>
            <button type="button" class="btn md" th:text="#{button.update}" th:onclick="comQaOpsInfoUpdate()"></button>
    </div>
	
</div>
</form>

<script th:inline="javascript" defer>
	comQaOpsInfoDetail();

    function comQaOpsInfoList() {
        $(location).attr('href', contextPath + '/');
    }

    function comQaOpsInfoDetail() {
        $.ajax({
            url: contextPath + '/ext/ops/comQaOpsInfoDetail',
            method: 'post',
            data: $('#updateForm').serialize(),
        }).done(function(response) {
            if (response.status === 'error') {
                alert('[(#{fail.common.detail})]');
                comQaOpsInfoList();
            } else {
                $('#wrterNm').val(response.result.wrterNm);
                $('#qestnSj').val(response.result.qestnSj);
                $('#qestnCn').val(response.result.qestnCn);
                $('#qnaProcessSttusCode').val(response.result.qnaProcessSttusCode);
            }
        });
    }

    function comQaOpsInfoUpdate() {
        if (confirm('[(#{common.update.msg})]')) {
            $('#wrterNmError').text('');
            $('#qestnSjError').text('');
            $('#qestnCnError').text('');
            $.ajax({
                url: contextPath + '/ext/ops/comQaOpsInfoUpdate',
                method: 'post',
                data: $('#updateForm').serialize(),
            }).done(function(response) {
                if(response.status === 'valid') {
                    $.each(response.errors, function(key, value) {
                        $('#'+key+'Error').text(value);
                    });
                } else if (response.status === 'error') {
                    alert('[(#{fail.common.update})]');
                    comQaOpsInfoList();
                } else {
                    alert('[(#{success.common.update})]');
                    comQaOpsInfoList();
                }
            });
        }
    }
</script>

</body>
</html>